<link rel="stylesheet" href="/nav.css">
<nav>
    <div class="nav-container">
        <div class="logo">
            <p>Removed</p>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/pt_dashboard" class="btn-highlight">View Dashboard</a>
            <a href="/viewer">View Ontology</a>
            <a href="/modifier">Modify Ontology</a>
            <a href="/ask_question">Ask a Question</a>
            <a href="/visualise">Visualise</a>
            <div class="nav-spacer"></div>
            <a href="/database">Database</a>
        </div>
    </div>
</nav>
